:root{
	--mainColor:#ade8f4;
	--secondaryColor:#00b4d8;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(21, 24, 32, 0.8);
	--previewShadow:#0096c7;


	--buttonColor:#0063a5;
	--atextColor: #ffffff;

}
