:root{
	--mainColor:#FFBCBC;
	--secondaryColor:#f39e9e;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#864444;
	--previewShadow:#c97c7c;


	--buttonColor:#ff9191;
	--atextColor: #0c20d3;


}
